:root {
    --cortextopitico: #C0C0C0;
    --botao: #ab04b1;
    --fonte1: "Jersey 10", sans-serif;
    --fonte2: "Bebas Neue", sans-serif;
    --botaoefeito: #d37bbd;
}

body {
    background-color: #0a010a;
    color: white;
    font-family: var(--fonte1);
    margin: 0;
    overflow-x: hidden; 
}

* {
    margin: 0;
    padding: 0;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    height: 100vh;
    width: 100vw;
}

.slide {
    min-width: 100vw;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    background-color: #0a010a; 
 
    
}

.principal {
    background-image: url("fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    width: 100%; 
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    position: relative; 
    top: 0;
    left: 0;
}


.titulo {
    font-size: 40px;
    margin-bottom: 1em;
    font-family: var(--fonte1);
    width: 100%; 
    max-width: 600px; 
    margin-left: 30px;
  text-align: center;
}

.tamanho {
    font-size: 25px;
    color: #00ffea;
}

.imagem {
    height: 150px;
    margin-left: 50px;
}

.botao, .botao2 {
    background-color: purple;
    width: 80vh;
    border-radius: 5px;
    padding: 1em;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 50px;
    font-family: var(--fonte2);
}

.botao2 {
    background-color: transparent;
    border: 2px solid white;
}

.botao:hover {
    background-color: var(--botaoefeito);
    color: var(--botao);
}

.botao2:hover {
    background-color: var(--botaoefeito);
    color: var(--botao);
}

.aviso{
    font-size: 12px;
    color: #C0C0C0;
    font-family: var(--fonte2);
    margin-left: 170px;
}

/*PÁGINA 2 */

.menu {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

.menuitem {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.menutitulo {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #6F6A6E;
    text-decoration: double;
    
}

.menuimagem {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.menuinfo {
    padding: 20px;
}

.itemmenu {
    font-size: 1.5em;
    color: #333;
}

.descricao2 {
font-size: 13px;
color: #686565;
font-family: var(--fonte2);
text-align: justify;
}

.preco {
    font-size: 1.2em;
    color: rgb(0,255,0);
    font-weight: bold;
  text-decoration: none;
}


/*PÁGINA 3 */
.imagem2 {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
  margin-top: 60px;
}

.titulo2 {
    font-weight: 700;
    font-size: 45px;
    color: white;
    margin-bottom: 1em;
    font-family: var(--fonte1);
    text-align: center;
}

.imagem2 {
    width: 90%;
    margin: 0px;
}

.descricao{
  text-align: center;
  font-family: var(--fonte2);
  font-size: 25px;
}
.titulo3 {
    font-weight: 700;
    font-size: 45px;
    color: white;
    margin-bottom: 1em;
    font-family: var(--fonte1);
    text-align: center;
}
.dispositivos {
    text-align: center;
  margin-top: 60px;
}

.dispositivos img {
    height: 100px;
    padding: 0 50px;
}

.item {
    font-size: 32px;
    color: white;
    padding: 0 50px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.lista, .rodapelista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
    font-family: var(--fonte2);
}

.listalink a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-left: 1em;
}

.rodapetexto {
    margin: 1em 0;
    color: var(--cortextopitico);
    font-size: 14px;
}

.listalink a:hover {
    color: var(--botaoefeito);
}

.listalink a:active {
    color: purple;
}

.logo2 {
    height: 100px;
}





